<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleNForceATA</string>
	<key>CFBundleGetInfoString</key>
	<string>1.0.4, Copyright Domenico &apos;MeDevil&apos; Colella. 2007</string>
	<key>CFBundleIdentifier</key>
	<string>com.nvidia.driver.AppleNForceATA</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Apple NVIDIA nForce Driver</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.4</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.4</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>NForce ATA Driver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.nvidia.driver.AppleNForceATA</string>
			<key>IOClass</key>
			<string>AppleNForceATA</string>
			<key>IOProviderClass</key>
			<string>AppleNForceATAChannel</string>
		</dict>
		<key>NForce PATA Controller</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.nvidia.driver.AppleNForceATA</string>
			<key>Hardware Name</key>
			<string>NForce PATA</string>
			<key>IOClass</key>
			<string>AppleNForceATARoot</string>
			<key>IOPCIPrimaryMatch</key>
			<string>
				0x01bc10de
				0x006510de
				0x008510de
				0x00d510de
				0x00e510de
				0x003510de
				0x005310de
				0x026510de
				0x036e10de
				0x03ec10de
				0x044810de
				0x056010de
				0x056c10de
				0x075910de
			</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Serial ATA</key>
			<false/>
		</dict>
		<key>NForce SATA Controller</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.nvidia.driver.AppleNForceATA</string>
			<key>Hardware Name</key>
			<string>NForce SATA</string>
			<key>IOClass</key>
			<string>AppleNForceATARoot</string>
			<key>IOPCIPrimaryMatch</key>
			<string>
				0x008e10de
				0x00e310de
				0x00ee10de
				0x003610de
				0x003e10de
				0x005410de
				0x005510de
				0x026610de
				0x026710de
				0x037e10de
				0x037f10de
				0x03e710de
				0x03f610de
				0x03f710de
				0x044c10de
				0x044d10de
				0x044e10de
				0x044f10de
				0x045c10de
				0x045d10de
				0x045e10de
				0x045f10de
				0x055010de
				0x055110de
				0x055210de
				0x055310de
				0x055410de
				0x055510de
				0x055610de
				0x055710de
				0x055810de
				0x055910de
				0x055A10de
				0x055B10de
				0x058410de
				0x07f010de
				0x07f110de
				0x07f210de
				0x07f310de
				0x07f410de
				0x07f510de
				0x07f610de
				0x07f710de
				0x07f810de
				0x07f910de
				0x07fa10de
				0x07fb10de
				0x0ad010de
				0x0ad110de
				0x0ad210de
				0x0ad310de
				0x0ad410de
				0x0ad510de
				0x0ad610de
				0x0ad710de
				0x0ad810de
				0x0ad910de
				0x0ada10de
				0x0adb10de
				0x0ab410de
				0x0ab510de
				0x0ab610de
				0x0ab710de
				0x0ab810de
				0x0ab910de
				0x0aba10de
				0x0abb10de
				0x0abc10de
				0x0abd10de
				0x0abe10de
				0x0abf10de
				0x0d8410de
				0x0d8510de
				0x0d8610de
				0x0d8710de
				0x0d8810de
				0x0d8910de
				0x0d8a10de
				0x0d8b10de
				0x0d8c10de
				0x0d8d10de
				0x0d8e10de
				0x0d8f10de
			</string>
			<key>IOProbeScore</key>
			<string>1000</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Serial ATA</key>
			<true/>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOATAFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.kpi.iokit</key>
		<string>7.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0d0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0d0</string>
	</dict>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0d0</string>
	<key>OSBundleRequired</key>
	<string>Local-Root</string>
</dict>
</plist>
